body{
    margin: none;
}

#root{
    position: relative;
}

#preload{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #E5E4E5;
}

#preload h1{
    font-size:  20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}