@font-face{
    font-family: 'hsansreg';
    src: url(font/HumanSans-Regular.otf);
  }
  @font-face{
    font-family: 'hsansligh';
    src: url(font/HumanSans-Light.otf);
  }
  @font-face{
    font-family: 'hsanselight';
    src: url(font/HumanSans-ExtraLight.otf);
  }
  @font-face{
    font-family: 'hsansbold';
    src: url(font/HumanSans-Bold.otf);
  }



#introblog{ 
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 20px;
    padding-bottom: 0px;
    font-family: sans-serif; 
    border-bottom: 1px solid #333;
}

#introblog h1{ 
    font-family: 'hsansbold';
    font-size: max(min(5.5vw,70px),40px);
     color: #333;
    }

#introblog h2{ 
    font-family: 'hsansligh';
    font-size: max(min(1.2vw,25px),20px);
    color: #333;

}

.posts{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 20px;
}

.post{
    position: relative;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #333;
    font-family: 'hsansbold';
}

.blogtitle{
    margin-right: 150px;
}

.readtime{
    position: absolute;
    top: 20px;
    right: 0px;
    font-family: 'hsansreg';
}

.postdate{
    font-family: 'hsansreg';
    position: absolute;
    bottom: -18px;
    right: 0px;
}
.postbody{
    font-family: 'hsansreg';
    margin-right: 130px;
}

.spostbody{
    font-family: 'hsansreg';
    position: relative;
    margin: auto;
    max-width: 1000px;
    padding: 10px;
}

.spostbody h1{
    font-size: 60px;
}

.spostbody a{
    text-decoration: none;
    color: #CC3A39;
}

.blogpostbody{
    font-size: 20px;
}

.mainimg{
    position: relative;
    width: 100%;
    height: auto;
}

.allpost{
    position: absolute;
    right: 20px;
    top: 0px;
    
}
.allpost p{
    padding: 10px;
    cursor: pointer;
    color: black;
}