@font-face {
    font-family: "applelight";
    src: url(./font/Manrope-Light.ttf);
  }
  @font-face {
    font-family: "applemedium";
    src: url(./font/Manrope-Medium.ttf);
  }
  @font-face {
    font-family: "robotoslab";
    src: url(./font/RobotoSlab.ttf);
  }
  @font-face {
    font-family: "fat";
    src: url(./font/Objectivity-Black.ttf);
    font-weight: 900;
  }
