  @font-face {
    font-family: "applelight";
    src: url(./font/Manrope-Light.ttf);
  }
  @font-face {
    font-family: "applemedium";
    src: url(./font/Manrope-Medium.ttf);
  }
  @font-face {
    font-family: "robotoslab";
    src: url(./font/RobotoSlab.ttf);
  }
  @font-face {
    font-family: "fat";
    src: url(./font/Objectivity-Black.ttf);
    font-weight: 900;
  }













  ::-webkit-scrollbar{
    width: 0px;
  }




  #logo, #logodark{
    position: absolute;
    right: 10px;
  }
  .light #logo {
    opacity: 1;
  }
  .dark #logo{
    opacity: 0;
  }

  .light #logodark{
    opacity: 0;
  }
  .dark #logodark{
    opacity: 1;
  }

  #logoimg{
    top: 10px;
    right: 20px;
    height: 30px;
  }

  .blur{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 40;
    backdrop-filter: blur(5px);
    display: none;
    transition: all 2s;
  }

  nav.centered-nav {
      position: fixed;
      top: 10px;
      width: 100vw;
      height: 50px;
      z-index: 45;
      
  }

  .light nav.centered-nav{
    border-bottom: 0.5px solid grey;
  }
  .dark nav.centered-nav{
    border-bottom: 0.5px solid #cab99a;
  }

  .boxbehindnav{
      width: 100%;
      position: relative;
      height: 80px;
  }

  #burger{
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    cursor: pointer;
  }

  #burger:hover > #topline{
    margin-bottom: 0px;
  }

  .burgerline{
    transition: all 0.5s ease;
    width: 30px;
    height: 2px;
    margin: 3px;
  }

  .light .burgerline{
    background-color: rgba(0,0,0,0.87);
  }

  .dark .burgerline{
    background-color: rgba(255,255,255,0.87);
  }

  #topline{
    margin-left: 15px;
  }

  .menu {
    z-index: 50;
    width: 100%;
    height: 80vh;
    min-height: 500px;
    position: fixed;
    border-radius: 0px 0px 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: min(-91vh,-500px);
    transition: background-color 0.5s ease;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 70px;
  }

  .textbotmenu{
    left: 100px;
    position: absolute;
    bottom: 2px;
  }

  .textbotmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .textbotmenu li{
    float: left;
  }
  .textbotmenu li a {
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-right:20px ;
    font-family: 'applelight';
    background: linear-gradient(currentColor, currentColor) 0px 19px / 0 .1em no-repeat;
    transition: 0.3s background-size;
  }

  .dark .textbotmenu li a {
    color: black;
  }
  .light .textbotmenu li a {
    color: white;
  }

  .textbotmenu li a:hover{
    background-size: 100% .1em;
  }



  .menu p {
    font-family: 'applemedium';
    position: relative;
    display: inline-block;
    font-size: max(60px,5vh);
    margin: 0;
    cursor: pointer;
  }

  .light .menu p{
    background: linear-gradient(to right, #e0e0e0, #e0e0e0 50%, #a0a0a0 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    overflow: hidden;
  }
  .dark .menu p{
    background: linear-gradient(to right, #121212, #121212 50%, #a0a0a0 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    overflow: hidden;
  }

  .light .menu .active{
    background-position: 0 100%;
    cursor:default;
  }
  .dark .menu .active{
    background-position: 0 100%;
    cursor: default;
  }

  .dark .menu p:hover,.light .menu p:hover{
    background-position: 0 100%;
  }


  .menu #closemenu{
    position: absolute;
    right: 50px;
    top: 130px;
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
    cursor: pointer;

  }


  .menu #closemenu:hover{
    top: 120px;
    padding-bottom: 10px;
  }


  .light .menu{
    background-color: black;
    color: rgba(255,255,255,0.87);
  }
  .dark .menu{
    background-color: #f0f2f5;
    color:rgba(0,0,0,0.87);
  }


  .light{
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color:rgba(0,0,0,0.87);
    padding-bottom: 0px;
  }


  .light nav{
    transition: all 0.5s ease;
    background-color: white;
  }



  .dark{
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: rgba(255,255,255,0.87);
  }


  .dark nav{
    transition: all 0.5s ease;
    background-color: black;
  }




  /* Home*/



  .Home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shape {
    position: absolute;
    height: max(18vw,75px);
    width: max(18vw,75px);
    right: max(65vw,300px);
    animation: morph 8s ease-in-out infinite;
    overflow: hidden;
    border: 1px solid black;
    z-index: 1;
 }

 #me{
  width: max(18vw,75px);
  height: max(23.2vw,96.7px);
  z-index: 1;
}

  @keyframes morph {
    0% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
    
    50% {
        border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    
    100% {
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    } 
  }

  .textbox{
    width: 100%;
    position:relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
  }


  .textbox2{
    width: 100%;
    position:relative;
    height: max(14vw,50px);
    margin-top: 20px;
  }


  .greetings{
    position: relative;
    width: 100%;
    margin-top: 0px;
  }
  .light .greetings{
    color: #222222;
  }
  .dark .greetings{
    color: white;
  }

  .textbox h1{
    font-size: max(min(100px, 8vw),6vw);
    font-family:'fat';
    margin: 0px;
    margin-left: 7vw;
    margin-bottom: calc(-0.22*max(min(50px, 6vw),6vw));
  }

  .greetings .textbox2 h2{
    -webkit-text-stroke-width: min(0.1vw,2px);
    margin: 0px;
    font-family: 'fat';
    font-weight: 1000;  
  }
  #name{
    color: transparent;
    font-size: max(20vw,80px);
      
      float: right;
  }

  .light #name{
    -webkit-text-stroke-color: black;
  }
  .dark #name{
    -webkit-text-stroke-color: white;
  }

  #overname{
    font-size: max(20vw,80px);
    color: #cb413f;
    position: absolute;

  }

  .textr{
    color: transparent;
    font-size: max(14vw,50px);
      -webkit-text-stroke-color: black;
      float: right;
  }
  .textrover{
    color: #cb413f;
    position: absolute;
    font-size: max(14vw,50px);
      right: 0px; 
  }

  .textl{
    color: transparent;
    font-size: max(14vw,50px);
      width: 100%;
  }

  .light .textl,.light .textr{
    -webkit-text-stroke-color: black;
  }
  .dark .textl,.dark .textr{
    -webkit-text-stroke-color: white;
  }

  .textlover{
    left: 0px;
    top: 0px;
    color: #cb413f;
    font-size: max(14vw,50px);
      position: absolute;
  }

  .hugespace{
    width: 100%;
    height: 50px;
  }

  .textbox2 .flyingbox{
    position: absolute;
    height: max(18vw,75px);
    width: max(18vw,75px);
    right: max(65vw,300px);;
    margin-top: calc(0px - max(1vw,10px));
  }

  .textbox h3{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #webbox{
    text-align: center;
    height: max(20vw,100px);
  }

  #web{
    color: transparent;
    font-size: max(25vw,150px);
      width: 100%;
      -webkit-text-stroke-width: min(0.2vw,1px);
      margin: auto;
  }

  .light #web{
    -webkit-text-stroke-color: black;
  }
  .dark #web{
    -webkit-text-stroke-color: none;

  }

  #overweb{
    left: 50%;
    top: 0px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cb413f;
    font-size: max(25vw,150px);
    position: absolute;
  }

  .centertext{
    margin: auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
  }
  .centertext p{
    font-family: 'applelight';
    size: max(4vw,30px)
  }

  svg, img{
    position: absolute;
    height: max(12vw,50px);
    z-index: 40;
  }

.smallspace{
  position: relative;
  width: 100vw;
  height: 10vh;
}
 
#relocatebuttons{
  position: relative;
  margin-bottom: 100px;
}

#relocatebuttons ul{
  list-style: none;
  padding: 0;
}

#relocatebuttons ul li{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  height: 50px;
  width: 100px;
  border: 1px solid #cb413f;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

#relocatebuttons ul li p{
  font-family: 'applelight';
    color: black;
    letter-spacing: 1px;
}

#relocatebuttons ul li p:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

#relocatebuttons ul li p:hover:after {
  top: 0px;
  left: 0px;
}

#relocatebuttons h1{
  font-family: 'applelight';
  letter-spacing: 2px;
}

  /*Footer*/
  footer{
    width: 100%;
    height: 80px;
  }


  .textbotmen{
    left: 10px;
    position: absolute;
    bottom: 5px;
  }

  .textbotmen ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .textbotmen li{
    float: left;
  }
  .textbotmen li a {
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-right:20px ;
    font-family: 'applelight';
    background: linear-gradient(currentColor, currentColor) 0px 19px / 0 .1em no-repeat;
    transition: 0.3s background-size;
  }

  .dark .textbotmen li a {
    color: white;
  }
  .light .textbotmen li a {
    color: black;
  }

  .textbotmen li a:hover{
    background-size: 100% .1em;
  }


#footmenu{
  position: absolute;
  right: 10px;
  padding: 0px;
  bottom: 5px;
}

#footmenu p{
  font-family: 'applemedium';
  padding: 0px;
  margin: 0;
  font-size: 10px;
}

