body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face{
  font-family: 'handjet';
  src: url(font/Handjet-ExtraLight.ttf);
  
}


html,body{
  width: 100%;
  min-height: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#viewport{
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  
}


#all{
  position: relative;
  width: 100%;
}

#enter{
  position: absolute;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}

#body2{
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  top: 0px;
}


#page{
  width: 100vw;
  margin: none;
  height: 100vh;
  position: fixed;
  z-index: 200;
  padding: none;
  
}


