body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face{
  font-family: 'handjet';
  src: url(font/Handjet-ExtraLight.ttf);
  
}


html,body{
  width: 100%;
  min-height: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



#viewport{
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  
}

.overflowhid{
  overflow: hidden;
  height: 100vh;
}

.overflowvis{
  overflow: visible;
  height: 100vh;
}

.visibilityhid{
  visibility: hidden;
}

.visibilitytru{
  visibility: visible;
}



#all{
  position: relative;
  width: 100%;
}

#enter{
  position: absolute;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
}

#body2{
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  top: 0px;
}


#page{
  width: 100%;
  margin: none;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  z-index: 200;
  padding: none;
}


#logontext{
  position: absolute;
  width: 100vw;
  top: 45%;
  display: flex;
  padding: 0px;
  justify-content: center;
  overflow: hidden;
}

#logontext img{
  position: relative;
  height: 4vw;
  margin: 0px;
}

#logontext h1{
  position: relative;
  color: white;
  font-size: 2vw;
  margin: 0px;
  margin-left: 5px;
  font-family: 'handjet';
  font-weight: 200;
  margin-top: 1vw;
}

#waves{
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 300px;
  background-image: url(svg/wave.svg);
  background-size: cover;
}
