.roadmap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* adjust this as needed */
}

.level {
    position: relative;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    margin: 100px 0;
}

.roadmap-navigation{
    font-family: 'applelight';
    display: inline;
    width: max(400px, 40%);
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0;
    z-index: 300;
    color: white;
}

.insideArrow{
    width: 100%;
    height: 100%;
    background-color: red;
}

.categoryButton{
    width: 100%;
    background: none;
    border-top: 2px solid gray;
    cursor: pointer;
    outline: none;
    margin: 0px 0px 0px 0px;
    color: inherit;

}

.categoryName{
    margin: 5px 15px ;
}

.categoryName-false{
    font-weight: normal;
}

.categoryName-true{
    font-weight: bold;
}

.categoryList{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    color: white;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.categoryList li{
    margin: 5px;
}


.categoryPost{
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.categoryName:hover, .categoryPost:hover{
    font-weight: bold;
}

.roadmap-navigation-title{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}

